<div id="app-login">
    <div ui-view></div>

    <script type="text/javascript" src="login/app.js"></script>

    <script type="text/javascript" src="login/directives/validateDirective.js"></script>
    <script type="text/javascript" src="common/services/interceptor.js"></script>

    <script type="text/javascript" src="login/controllers/loginController.js"></script>
    <script type="text/javascript" src="login/controllers/registerController.js"></script>
    <script type="text/javascript" src="login/controllers/findController.js"></script>
</div>